:root {
  --dark-red: rgb(61, 5, 5);
  --light-red: rgb(196, 16, 16);
}

.App {
  background-color: rgb(209, 209, 209);;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}